.top
{	  
    margin-bottom: 7px;
    padding: 12px 0 13px;    
    border-bottom: 7px solid #dbdbdb;
    display: block;	
    right: 0;
    top: 0;    	
}
.top1
{
    text-align: right;
    margin-right: 10px;
}
html,
body 
{       
    height: 100%;
}    
body 
{
    display: block;       
}
a 
{
    text-decoration: none;
    color: #3b6696;
} 
section
{
    width=353px;
    display: block;
}
.wrapper
{
    min-width: 363px;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.textstyle1
{
    text-align: center;	
}
.textstyle2
{
    font-family: Arial,Tahoma,sans-serif;
    font-size: 14px;
}
.image1 
{
    display: inline-block;    
    min-width: 100%;
    height: auto;  
    border-radius: 5px;
}
.divh4 
{
    font-size: 14px;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	color: #000;
}
.underline 
{
    padding-bottom: 3px;
    border-bottom: 3px solid #3b6696;
}
.content
{    
    margin: auto;
    max-width: 760px;
    padding-bottom: 20px;    
}
.content_inside 
{	    
    float: left;
    width: 353px;
    margin-bottom: 16px;    
    display: block;
    padding-left: 10px;
}
.autorisation_page
{
    width: 200px;
    padding-bottom: 10px;    
    display: block;
    padding-left: 10px;
    margin: auto;
    text-align: center;
}
.clear
{
    clear: both;
}
footer
{
    min-width: 550px;
}
.footer
{	        
    border-top: 7px solid #dbdbdb;   
    left: 0;
    bottom: 0;   
    height: 50px;
}